<% content_for :head do -%>
  <%#= javascript_pack_tag '' %>
<% end -%>

<div id="main-body" >
	<%= render "index"%>
</div>
<script type="text/javascript">
	$(function(){
   // $('.pagination a').attr('data-remote', 'true')
   // ajax paginate problem with css change, need further investigation
});
</script>